:host {
    div {

    width: 100%;
    color: #333333;
   
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

 label{
      margin: 0 auto;
      margin-right: 10px;
      width: 40%;
      

}


}